In [3]:
import opendatasets as od
import pandas as pd
import requests 
import os
import zipfile

def extract_dataframe_from_url_zip(csv_file, url):
    r = requests.get(url, stream=True)
    with open(os.path.join(os.getcwd(), "tmp.zip"), 'wb') as fd:
        for chunk in r.iter_content(chunk_size=128):
            fd.write(chunk)

    with zipfile.ZipFile(os.path.join(os.getcwd(), "tmp.zip"), 'r') as zip_ref:
        zip_ref.extractall(os.getcwd())

    dataframe = pd.read_csv(csv_file)

    os.remove(csv_file)
    os.remove('tmp.zip')

    return dataframe

def extract_dataframe_from_kaggle(csv_url, csv_file_name, folder_name):

    path = os.path.join(os.path.join(os.getcwd(), folder_name), csv_file_name)

    print(path)

    od.download(csv_url)

    dataframe = pd.read_csv(path)
    
    try:
        os.remove(os.path.join(os.getcwd(), folder_name))
    except PermissionError:
        print("CSV folder was not removed due to permissions. Path:", path)
    
    return dataframe

In [4]:
extract_dataframe_from_kaggle(
    "https://www.kaggle.com/fedesoriano/company-bankruptcy-prediction/version/2?select=data.csv",
    "data.csv",
    "company-bankruptcy-prediction")

C:\Users\Jose\Desktop\CoderHouse\Entregas\7 - Presentacion DataSets\company-bankruptcy-prediction\data.csv
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: joeymor
Your Kaggle Key: ········
Downloading company-bankruptcy-prediction.zip to .\company-bankruptcy-prediction

100%|█████████████████████████████████████████████████████████████████████████████| 4.63M/4.63M [00:00<00:00, 4.94MB/s]

CSV folder was not removed due to permissions. Path: C:\Users\Jose\Desktop\CoderHouse\Entregas\7 - Presentacion DataSets\company-bankruptcy-prediction\data.csv

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814,0,0.493687,0.539468,0.543230,0.604455,0.604462,0.998992,0.797409,0.809331,0.303510,...,0.799927,0.000466,0.623620,0.604455,0.840359,0.279606,0.027064,0.566193,1,0.029890
6815,0,0.475162,0.538269,0.524172,0.598308,0.598308,0.998992,0.797414,0.809327,0.303520,...,0.799748,0.001959,0.623931,0.598306,0.840306,0.278132,0.027009,0.566018,1,0.038284
6816,0,0.472725,0.533744,0.520638,0.610444,0.610213,0.998984,0.797401,0.809317,0.303512,...,0.797778,0.002840,0.624156,0.610441,0.840138,0.275789,0.026791,0.565158,1,0.097649
6817,0,0.506264,0.559911,0.554045,0.607850,0.607850,0.999074,0.797500,0.809399,0.303498,...,0.811808,0.002837,0.623957,0.607846,0.841084,0.277547,0.026822,0.565302,1,0.044009
6818,0,0.493053,0.570105,0.549548,0.627409,0.627409,0.998080,0.801987,0.813800,0.313415,...,0.815956,0.000707,0.626680,0.627408,0.841019,0.275114,0.026793,0.565167,1,0.233902

In [5]:
extract_dataframe_from_kaggle(
    "https://www.kaggle.com/nareshbhat/health-care-data-set-on-heart-attack-possibility?select=heart.csv",
    "heart.csv",
    "health-care-data-set-on-heart-attack-possibility")

C:\Users\Jose\Desktop\CoderHouse\Entregas\7 - Presentacion DataSets\health-care-data-set-on-heart-attack-possibility\heart.csv
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: joeymor
Your Kaggle Key: ········
Downloading health-care-data-set-on-heart-attack-possibility.zip to .\health-care-data-set-on-heart-attack-possibility

100%|█████████████████████████████████████████████████████████████████████████████████████| 3.40k/3.40k [00:00<?, ?B/s]

CSV folder was not removed due to permissions. Path: C:\Users\Jose\Desktop\CoderHouse\Entregas\7 - Presentacion DataSets\health-care-data-set-on-heart-attack-possibility\heart.csv

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
extract_dataframe_from_url_zip('December 7 data.csv', 'https://www.soa.org/globalassets/assets/files/edu/2020/2020-12-7-exam-pa-data.zip')

,season,year,hour,holiday,weekday,weathersit,temp,humidity,windspeed,bikes_per_hour
0,1,0,0,0,6,1,0.24,0.81,0.0000,16
1,1,0,1,0,6,1,0.22,0.80,0.0000,40
2,1,0,2,0,6,1,0.22,0.80,0.0000,32
3,1,0,3,0,6,1,0.24,0.75,0.0000,13
4,1,0,4,0,6,1,0.24,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...
17371,1,1,19,0,1,2,0.26,0.60,0.1642,119
17372,1,1,20,0,1,2,0.26,0.60,0.1642,89
17373,1,1,21,0,1,1,0.26,0.60,0.1642,90
17374,1,1,22,0,1,1,0.26,0.56,0.1343,61
17375,1,1,23,0,1,1,0.26,0.65,0.1343,49